<article class="card col">
    <img src="{{ game['picture'] }}" class="card-img-top" alt="{{ game['title'] }}">
    <div class="card-body">
        <h5 class="card-title">{{ game['title'] }}</h5>
        <p class="card-text">{{ game['description'] }}</p>
        <a href="{{ linkUrl }}" class="btn btn-primary">{{ linkText }}</a>
    </div>
</article>